/* Mobile design first */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    width: 20rem;
}

img {
    width: 85vw;
}


/* Community section */

#community {
    background-image:url(../images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
}

#top img {
    width: 10rem;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

#try {
    display: inline-block;
    float: right;
    background-color: #fff;
    border-style: none;
    border-radius: 24px;
    padding: 0.5rem;
    width: 8rem;
    font-weight: 600;
    box-shadow: 3px 5px 10px rgba(0,0,0.3,0.1);
}

#community-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.text-container h1, .text-container p {
    margin: 2rem auto;
}

.text-container{
    display: block;
    max-width: 20rem;
    margin: 2rem;
}

#community-text img {
    margin: 3rem;
}

.pink-button {
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    box-shadow: 3px 5px 8px rgba(0,0,0.4,0.1);
    font-weight: 600;
    border-style: none;
    border-radius: 24px;
    padding: 1rem;
    width: 15rem;
    margin: 0.5rem;
}


/* Block sections x 3 */

.block {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 15px rgba(0,0,0.4,0.1);
    border-radius: 16px;
}


/* First block */
#grow {
    margin-top: 5rem;
}

.block img {
    padding: 4rem 3rem 3rem 3rem;
}

.block-text {
    width: 20rem;
    margin-bottom: 5rem;
}

.block-text h1 {
    padding: 2rem;
    white-space: nowrap;
}

.block-text p {
    color: hsl(208, 11%, 55%);
}


/* Third block */
#users {
    margin-bottom: 15rem;
}


/* Build section */

#build {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.build-container{
    box-shadow: 3px 5px 15px rgba(0,0,0.4,0.1);
    border-radius: 16px;
    padding: 3rem;
    background-color: #fff;
    position: absolute;
    width: 90vw;
}

.build-container h1 {
    white-space: nowrap;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    height: 100%;
    width: 100%;
    text-align: center;
}


/* Contact section */

#contact {
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    text-align: left;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-top: 5rem;
}

#huddle {
    margin: 10rem auto 0 1rem;
}

#contact-text {
    margin-left: 0.5rem;
    word-wrap: break-word;
}

#contact img {
    width: 1.5rem;
}

#contact-1 {
    margin-top: 2rem;
}

#contact-1, #contact-2, #contact-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 0.5rem;
}

.text-1 {
    width: 23rem;
}

.text-1, .text-2, .text-3 {
    margin-left: 1.5rem;
}

.location {
    padding: 1rem;
}

ul {
    list-style: none;
    margin-top: 5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
}

#link2 {
    display: inline-block;
    padding: 0;
    margin-top: -6px;
}


/* Social media section */

#social-media {
    text-align: center;
}

.icon {
    padding: 1rem;
    margin: 1rem .5rem;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 3.5rem;
}

#social-media p {
    margin: 2rem auto;
    font-size: 0.8rem;
}

#copyright {
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding-bottom: 2rem;
    text-align: center;
}


/* Media query for desktop */

@media (min-width: 1440px) {

/* Community section */

   #top {
       padding: 3rem 6rem;
   }

   #top img {
       width: 15rem;
   }

   #try {
       width: 20rem;
       padding: 1rem;
       border-radius: 24px;
   }

   #community {
    background-image: url(../images/bg-hero-desktop.svg);
   }

    #community-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .text-container {
        margin-left: 5rem;
        text-align: left;
    }

    .text-container h1 {
        font-size: 2rem;
        word-wrap: break-word;
    }

    .text-container p {
        width: 28rem;
    }

    .text-container h1, #text-container p {
        width: 25rem;
        display: block;
    }

    .pink-button {
        border-radius: 24px;
        padding: 1rem;
    }

    .mockups {
        width: 55vw;
    }


/* Blocks section x 3 */

    .block {
        margin: 4rem 7rem;
        justify-content: space-between;
        padding-left: 10rem;
    }

    .block img {
        width: 40vw;
    }

    .block-text {
        display: block;
        width: 33rem;
        text-align: left;
    }

    .block-text h1 {
        font-size: 2.5rem;
        width: 100%;
        height: 100%;
        padding: 0;
        margin-bottom: 1rem;
    }

    #grow, #users {
        margin-top: 10rem;
        flex-direction: row-reverse;
    }

    #flow {
        flex-direction: row;
        padding-right: 5rem;
    }


/* Build section */
 
    .build-container {
        width: 40vw;
    }

    .build-container h1 {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .build-container button {
        width: 20vw;
        padding: 1.5rem;
        border-radius: 34px;
        font-size: 1.2rem;
    }


/* Contact section */

    #contact {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-bottom: 5rem;
    }

     .container-1 {
        padding-bottom: 5rem;
    }

    .container-1 {
        margin: 0;
        padding: 0;
    }

    .container-2, .container-3 {
        align-self: flex-end;
        margin: 0;
        padding: 0;
    }

    .container-4 {
        transform: translate(10px, 220px)
    }

    #copyright {
        text-align: right;
        padding: 0 5vw 5.5vw 0;
        font-size: 0.9rem;
    }
} 


/* Added extra media query to fix the width of Build section between mobile and desktop view */

@media (min-width: 700px) {
    .build-container {
        max-width: 70vw;
    }
}